.pdf,.video,.img,.pic
{
  display:none;
}
.show-row{
  display: block;
}
.display-video{
  width: 650px;
  height: 450px;
}
.border-style{
  border-right: 4px solid #eb4d4b;
}
.margin-row{
  margin-right:0 !important;
  margin-left:0 !important;
}
.map-style{
  /* width: 400px; */
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #eb4d4b;
  margin: 20px auto;
}
.row-video{
  width: 100%;
  height: 90px;
}
.icon-margin-top{
 margin-top: 4px;
}
.likes{
color: #fff;
}
.scenario-card .lni-download{
  font-size: 25px;
  font-weight: 700;
}
.title-effect{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
.bg-gray{
  background-color: #575757;
}
.border-bottom{
  border-bottom: 1px solid #fff;
}
.mapboxgl-canvas{
  position: unset !important;
}
a.mapboxgl-ctrl-logo{
  display:none !important;
}
.reverse{
  unicode-bidi:bidi-override;
  direction:ltr;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}
.dashboard-link{
  color: #cdcdcd;

}
.dashboard-link:link, .dashboard-link:visited {
  text-decoration: none;
  color: #cdcdcd;
}
.color-white{
  color: #fff;
}
/* #map { position:absolute; top:0; bottom:0; width:100%; } */
/* .mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:yellow;
} */
.tox-notification{
  display: none !important;
}

.tox-tinymce{
  width: 80% !important;
  margin:auto !important;
  /* background-color: blue !important; */
}

.margin-auto
{
  margin: 0 auto;
}

.dropify-wrapper {
  width: 80%;
  margin: 30px auto;
  border-radius: 15px;
}

#myChart,#myChart2{
  padding: 10px 20px;
}
